@import '../../../scss/main.scss';
.welcome {
    .container {
        background-image: url("../../../assets/imgs/sea.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}