a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  height: 100vh;
}

.atropos {
  .atropos-scale {
    pointer-events: none;
    .atropos-rotate {
      pointer-events: all;
    }
  }
}
