// abstracts
@import "./abstracts/colors";
@import "./abstracts/mixins";
// base
@import "./base/base";
@import "./base/typography";
// components
@import "./components/add";
@import "./components/barChartBox";
@import "./components/bigChartBox";
@import "./components/chartBox";
@import "./components/dataTable";
@import "./components/loading";
@import "./components/notFound";
@import "./components/pieChartBox";
@import "./components/single";
@import "./components/topBox";
// home
@import "./home/login";
@import "./home/welcome";
// ...
// layout
@import "./layout/layout";
@import "./layout/navbar";
@import "./layout/home";
@import "./layout/menu";
@import "./layout/grid";
@import "./layout/footer";
// externals
@import "atropos/scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  
  background-color: #021016;
  background-repeat: no-repeat;
  background-size: cover;
  color: $main-color;

  min-height: 100%;
  padding: 0;
  margin: 0;
}

.app{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .body {
  min-height: 100%;
}
}
